process.container = 'thankgod23/sequence_similarity_search'
docker.runOptions = '-u $(id -u):$(id -g)'
docker.enabled = false


env.PROJECT_CODE_BASE_SRC_DIR = "/home/tee25/Desktop/assessment/biographica/src/sequence_similarity/"
env.WORKING_DIR = "${env.PROJECT_CODE_BASE_SRC_DIR}/resources/example_data/"

params {

    absolute_path_to_project_root_dir_source =  "${env.PROJECT_CODE_BASE_SRC_DIR}"
    path_to_output_directory = "${env.WORKING_DIR}/output/"
    path_to_fasta_files = "${env.WORKING_DIR}/input/"
    interrogate_uniprot = false
    fasta_file_extension = "fa"
    similarity_identity = 0.95
    coverage_factor = 0.9

}

singularity {

    enabled = false
    runOptions = '-B $WORKING_DIR:$WORKING_DIR -B $SINGULARITY_TMPDIR:/tmp -B $SINGULARITY_TMPDIR:/tmp'
    containerOptions = '--memory 16G --size 100G --cpus 9'
    envWhitelist = ['SINGULARITY_TMPDIR']

}

process {
    cpus = 4
    array = 10
}

